<h2>Authenticate to access all resources</h2>
<form (ngSubmit)="onSubmit()">
  <p>
    <label>E-Mail</label>
<!--    ngModel egy beépített direktíva (attribute directive, elemeknek ad plusz tulajdonságot), amely az input mező értékét köti egy változóhoz.
    A [(ngModel)] szintaxis azért használható, mert az ngModel direktívának két irányú kötését használja.
  two eay bindig, vagyis meg is jeleníti az értéket és set-eli is az új értéket
  () -> output; [] -> input-->
    <input type="email" name="email" [(ngModel)]="email" />
  </p>

  <p>
    <label>Password</label>
    <input type="password" name="password" [(ngModel)]="password" />
  </p>

  <p>
    <button>Login</button>
  </p>
</form>
