<!--<div>-->
<!--  <button (click)="onSelectUser()">-->
<!--    &lt;!&ndash;property binding&ndash;&gt;-->
<!--    &lt;!&ndash;<img [src] = "'/assets/users/' + selectedUser.avatar"&ndash;&gt;-->
<!--    &lt;!&ndash;     [alt]="selectedUser.name"/>&ndash;&gt;-->
<!--    <img [src] = imagePath-->
<!--         [alt]="name"/>-->
<!--    &lt;!&ndash;string interpolatin&ndash;&gt;-->
<!--    <span>{{ name }}</span>-->
<!--  </button>-->
<!--</div>-->
<!--<div>-->
<!--  <button (click)="onSelectUserVariation()">-->
<!--    &lt;!&ndash;property binding&ndash;&gt;-->
<!--    &lt;!&ndash;<img [src] = "'/assets/users/' + selectedUser.avatar"&ndash;&gt;-->
<!--    &lt;!&ndash;     [alt]="selectedUser.name"/>&ndash;&gt;-->
<!--    <img [src] = imagePathVariation()-->
<!--         [alt]="selectedUserVariation().name"/>-->
<!--    &lt;!&ndash;string interpolatin&ndash;&gt;-->
<!--    <span>{{ selectedUserVariation().name }}</span>-->
<!--  </button>-->
<!--</div>-->
<!--<div>-->
<!--  <button>-->
<!--    &lt;!&ndash;property binding&ndash;&gt;-->
<!--    &lt;!&ndash;<img [src] = "'/assets/users/' + selectedUser.avatar"&ndash;&gt;-->
<!--    &lt;!&ndash;     [alt]="selectedUser.name"/>&ndash;&gt;-->
<!--    <img [src] = imagePathVariation()-->
<!--         [alt]="name()"/>-->
<!--    &lt;!&ndash;string interpolatin&ndash;&gt;-->
<!--    <span>{{ name() }}</span>-->
<!--  </button>-->
<!--</div>-->
<div>
  <button (click)="onSelectUser()">
    <img [src] = imagePath
         [alt]="user.name"/>
    <span>{{ user.name }}</span>
  </button>
</div>
